.top-logo {
  width: 300px;
  height: auto;
  object-fit: contain;
  margin: 0 auto 10px auto;
}

.top-menu {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 60px 60px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    width: auto;
    height: 130px;
    padding: 10px;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.site-logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
  align-self: center;
}

.site-logo-text {
  width: 120px;
  height: 60px;
  object-fit: contain;
}

.profile-options {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: end;
  align-items: center;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.top-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  vertical-align: middle;
  cursor: pointer;
  border-radius:6px; 
}

#logoutBtn, #messageBtn, #orderHistoryBtn, #adminBtn {
    
  height: 40px;
  width: 40px;
  cursor:pointer;
}

#logoutBtn:hover, #messageBtn:hover, #orderHistoryBtn:hover, #adminBtn:hover, .top-avatar:hover {
  transform: translateY(-4px);
}

.categories {
  display: flex;
  flex-direction: row;
  gap: 15px;
  grid-column: span 2;
  grid-row: 2 / 2;
  height: 40px;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
}


.menu-img {
  object-fit: contain;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

/* .menu-text {
  display: none;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0px;
} */

.menu-img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  /* .logo {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    height: 60px;
    gap: 0px;
    padding: 0;
    justify-content: end;
  } */

}