.top-logo {
  width: 300px;
  height: auto;
  object-fit: contain;
  margin: 0 auto 10px auto;
}

.top-menu {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 60px 60px;
  column-gap: 20px;
}

.logo {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    width: auto;
    height: 130px;
    padding: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.site-logo {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.site-logo-text {
    width: 120px;
    height: 60px;
    object-fit: contain;
}

.profile-options {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: end;
  align-items: center;
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.top-avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  vertical-align: middle;
}

#logoutBtn, #messageBtn {
    
  height: 40px;
  font-size:12px; 
  padding:5px; 
  border:1px solid #ac86c9; 
  background:#7032a0; 
  color:#EEE; 
  border-radius:6px; 
  cursor:pointer;
}

.search-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: end;
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

#searchInput {
  padding: 10px 10px;
  border-radius: 12px;
    flex: 1;
  height: 40px;
  border: 1px solid #e5e7eb;
  font-size: 15px;
  outline: none;
  transition: 0.15s ease;
}

#searchInput:focus {
  border-color: #007782;
  box-shadow: 0 0 0 3px rgba(0, 119, 130, 0.08);
}

@media (max-width: 600px) {
    .logo {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        height: 60px;
        gap: 0px;
        padding: 0;
        justify-content: end;
    }

    .site-logo {
        width: 40px;
        height: 40px;
        object-fit: fill;
    }
    .site-logo-text {
        display: none;
    }
}